<!-- 여기부터 다시 보기 시작 -->
<div class="jwbox">
  <a href="#">
    <h4 class="feed-item-title" style="color: #ee3497;">
      [단편영화] No.1 From the Reports of Security Guards and Patrol Services(1984)
    </h4>
    <img src="http://media.tumblr.com/tumblr_lw51wkbVp41qcusid.jpg" border="0" width="192" height="108" vspace="3" hspace="3" align="left">
  </a>
    <div class="jwbox_hidden">
          <div class="jwbox_content">
                <div id="helike_player_wrapper" style="position: relative; width: 720px; height: 480px; "><object type="application/x-shockwave-flash" data="live/player.swf" width="100%" height="100%" bgcolor="#000000" id="helike_player" name="helike_player" tabindex="0"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="seamlesstabbing" value="true"><param name="wmode" value="opaque"><param name="flashvars" value="netstreambasepath=http%3A%2F%2Fokin.cc%2Fradio%2F&amp;id=helike_player&amp;file=archives%2FHeleke_Sander_Nr_1_Aus_Berichten_der_Wach_und_Patroulendienste.mp4&amp;image=http%3A%2F%2Fmedia.tumblr.com%2Ftumblr_lw51wkbVp41qcusid.jpg&amp;skin=http%3A%2F%2Fcfs.tistory.com%2Fcustom%2Fblog%2F49%2F493776%2Fskin%2Fimages%2Fmodieus.swf&amp;autostart=true&amp;controlbar.position=over"></object></div>
          </div>
    </div>
</div>
ejirjiej
<script type="text/javascript">
  jwplayer('helike_player').setup({
    'flashplayer': 'live/player.swf',
    'file': 'archives/Heleke_Sander_Nr_1_Aus_Berichten_der_Wach_und_Patroulendienste.mp4',
    'image': 'http://media.tumblr.com/tumblr_lw51wkbVp41qcusid.jpg',
    'skin': 'http://cfs.tistory.com/custom/blog/49/493776/skin/images/modieus.swf', 
    'autostart': 'true',
    'controlbar': 'over',
    'width': '720',
    'height': '480'
  });
</script>

옥인 콜렉티브의 인터넷 라디오 스테이션 STUDIO+82는 전시기간 동안 2010년 9월부터 방송된 프로그램들로 이루어진 ‘아카이브 쇼’를 기획하였다. 아카이브 쇼의 오픈에 맞춰 방송될 독일의 여성주의 영화감독 헬케 산더Helke Sander의 단편 영화 No.1 From the Reports of Security Guards and Patrol Services (1984)는 김진숙씨가 크레인에서 직접 찍은 동영상과 지역과 시간을 넘어서 한 패를 이루며 여성성, 그리고 생활의 절박한 문제, 노동, 저항의 아름다움과 힘을 응축해 드러내고 있다. 이 방송은 네덜란드의 카스코(CASCO)에서 디렉터로 활동하고 있는 최빛나씨의 참여로 이루어졌으며, 12월 27일에 있을 오픈 토크의 주제로도 다루어질 예정이다.
<p></p>
<!-- 다시 보기 끝 -->
