<!-- workshop #1-2 -->
<div id="radio-program">
  <div class="jwbox">
    <a href="#">
      <h4 class="feed-item-title">
        Workshop #1-2 “후라이팬 로스팅 Frying pan roasting”
      </h4>
      <img src="archives/" 
           border="0" width="192" height="108" vspace="3" hspace="3" align="left">
    </a>
    <div class="jwbox_hidden">
      <div  class="jwbox_content">
        <video
            id="my-player_ustream-0"
            class="video-js"
            controls
            preload="none"
            poster="archives/"
            width="720"
            data-setup='{}'>
          <source src="archives/101023%20roasting%20broadcast%2001_2.mp4" type="video/mp4"></source>
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
          </p>
        </video>
      </div>
    </div>
  </div>
  <p>
  집에서 하는 로스팅, 가능할까요? Roasting at home! Is it possible? 김승범 (후라이팬 커피 로스터)SeungBum Kim (Frypan coffee roaster) * BGM_허밍 어반스테레오(feat.요조) -커피 한 잔 어때,백현미-커피 한 잔 // 2011.2.21.(Mon) 9:00 PM
  <br/>
  <br/>
   Length: 07:03
   Views: 201
  </p>
</div>
<!-- workshop #1-2 -->

<!-- round table talk #1-2 -->
<div id="radio-program">
  <div class="jwbox">
    <a href="#">
      <h4 class="feed-item-title">
        Round Table Talk #1-2 “옥인에서 소녀시대까지 From Okin to Girl’s Generation”
      </h4>
      <img src="archives/" 
           border="0" width="192" height="108" vspace="3" hspace="3" align="left">
    </a>
    <div class="jwbox_hidden">
      <div  class="jwbox_content">
        <video
            id="my-player_ustream-0"
            class="video-js"
            controls
            preload="none"
            poster="archives/"
            width="720"
            data-setup='{}'>
          <source src="archives/Round%20Table%20Talk%20%231-2%20johan_2.mp4" type="video/mp4"></source>
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
          </p>
        </video>
      </div>
    </div>
  </div>
  <p>
   조한(홍익대학교 건축학부 교수) Pf. Hahn Joh(Hongik Univ. School of Architecture/HAHN Design) ; 건축가의 시각으로 본 서울, 도시, 도시의 삶에 대한 여러가지 이야기* 2편의 주요테마는 광화문 광장! // 2010.11.1.(Mon) 8:00 PM
  <br/>
  <br/>
  Length: 20:47
  Views: 395
  </p>
</div>
<!-- round table talk #1-2 -->

<!-- workshop #1-1 -->
<div id="radio-program">
  <div class="jwbox">
    <a href="#">
      <h4 class="feed-item-title">
        Workshop #1-1 “후라이팬 로스팅 Frying pan roasting”
      </h4>
      <img src="archives/" 
           border="0" width="192" height="108" vspace="3" hspace="3" align="left">
    </a>
    <div class="jwbox_hidden">
      <div  class="jwbox_content">
        <video
            id="my-player_ustream-0"
            class="video-js"
            controls
            preload="none"
            poster="archives/"
            width="720"
            data-setup='{}'>
          <source src="archives/101023%20roasting%20broadcast%2001_1.mp4" type="video/mp4"></source>
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
          </p>
        </video>
      </div>
    </div>
  </div>
  <p>
  Lecturer : 김승범_ SB Kim (PINY) 집에서 하는 로스팅, 가능할까요? Roasting at home! Is it possible? // 2010.10.23.(Sat) 12:00 PM
  <br/>
  <br/>
   Length: 21:50
   Views: 228
  </p>
</div>
<!-- workshop #1-1 -->

<!-- round table talk #1-1 -->
<div id="radio-program">
  <div class="jwbox">
    <a href="#">
      <h4 class="feed-item-title">
        Round Table Talk #1-1 “옥인에서 소녀시대까지 From Okin to Girl’s Generation”
      </h4>
      <img src="archives/003_Round_Table_Talk_From_Okin_to_Girls_Generation.JPG" 
           border="0" width="192" height="108" vspace="3" hspace="3" align="left">
    </a>
    <div class="jwbox_hidden">
      <div  class="jwbox_content">
        <video
            id="my-player_ustream-0"
            class="video-js"
            controls
            preload="none"
            poster="archives/"
            width="720"
            data-setup='{}'>
          <source src="archives/Round%20Table%20Talk%20%231-1%20johan_1.mp4" type="video/mp4"></source>
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
          </p>
        </video>
      </div>
    </div>
  </div>
  <p>
  조한(홍익대학교 건축학부 교수) Pf. Hahn Joh(Hongik Univ. School of Architecture/HAHN Design) ; 건축가의 시각으로 본 서울, 도시, 도시의 삶에 대한 여러가지 이야기// 2010. 10.12. (Wed) 8:00 PM
  <br/>
  <br/>
  Length: 27:20
  Views: 1,048
  </p>
</div>
<!-- round table talk #1-1 -->

<!-- working sound #1 -->
<div id="radio-program">
  <div class="jwbox">
    <h4 class="feed-item-title">
      워킹 사운드 walking sound #01 - “함께 걸으면서 수다도 떱시다 Let’s walk and chat together
    </h4>
    <img src="archives/" 
         border="0" width="192" height="108" vspace="3" hspace="3" align="left">
  </div>
  <p>
  “함께 걸으면서 수다도 떱시다” (Let’s walk and chat together)는 인천 스페이스 빔 국제레지던시 참여중인 작가들(Lenny Correa, Gerard Cuartero, Mark Salvatus, Emilija Skarnulyte), 서울에서 활동하는 작가 유은주, 캐시 오 (Oh Katherine)와 함께 9월12일 일요일 오후5시 옥인동 옥인아파트 출발/한남동 테이크아웃 드로잉/녹사평까지 걸으면서 녹음한 사운드의 일부이다.
  /// 이 프로그램은 다시보기가 지원되지 않습니다.
  * Filming- emilija karnulyte 's contribution * Location in film- "A stage for radio station"_okin collective_2010 // 2010. 9. 23. (Thu) 8:00 PM
  <br/>
  <br/>
  Length: 03:50
  Views: 240
  </p>
</div>
<!-- working sound #1 -->

<!-- music video 123 band -->
<div id="radio-program">
  <div class="jwbox">
    <a href="#">
      <h4 class="feed-item-title">
        Music video - 123 밴드_ 박보나, 조은지 / 123 Band_Bona Park, Eunji Cho
      </h4>
      <img src="archives/" 
           border="0" width="192" height="108" vspace="3" hspace="3" align="left">
    </a>
    <div class="jwbox_hidden">
      <div  class="jwbox_content">
        <video
            id="my-player_ustream-0"
            class="video-js"
            controls
            preload="none"
            poster="archives/"
            width="720"
            data-setup='{}'>
          <source src="archives/123%20Band.mp4" type="video/mp4"></source>
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
          </p>
        </video>
      </div>
    </div>
  </div>
  <p>
  Music video_ # Artists- 박보나, 조은지 # Sound track- 1. 임대(박보나작사/우주소작곡) 2. 딴섬주인(조은지작사/우주소작곡) # Singer-안현숙 Hyunsuk Ahn # Location-"라디오를 위한 스테이지"A stage for radio station_테이크아웃드로잉 옥상 Rooftop, Takeout Drawing_옥인 콜렉티브 Okin Collective_2010 # 123 밴드 - 경기 창작 센터가 위치한 경기도 선감도 주변의, 123버스 루트에 흩어져 있는 빈박스형 건물에 대한 협업(부동산박스 빈선감도 123 프로젝트, 2010)을 계기로 2010년에 결성되었다. // 2010.9.18. (Sat) 8:00 PM 
  <br/>
  <br/>
  Length: 07:24
  Views: 342
  </p>
</div>
<!-- music video 123 band -->

<!-- interview #1-2 -->
<div id="radio-program">
  <div class="jwbox">
    <a href="#">
      <h4 class="feed-item-title">
        인터뷰 Interview#1-2-ARE YOU FREE? 신자유주의 시대의 자유
      </h4>
      <img src="archives/" 
           border="0" width="192" height="108" vspace="3" hspace="3" align="left">
    </a>
    <div class="jwbox_hidden">
      <div  class="jwbox_content">
        <video
            id="my-player_ustream-0"
            class="video-js"
            controls
            preload="none"
            poster="archives/"
            width="720"
            data-setup='{}'>
          <source src="archives/interview-kimhyunmee%202.mp4" type="video/mp4"></source>
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
          </p>
        </video>
      </div>
    </div>
  </div>
  <p>
  Are you free?-신자유주의시대의 자유Liberty in neo-liberalism -김현미 교수(연세대학교, 문화인류학과)-Pf. Hyunmee Kim(Yonsei Univ., Cultural Anthropology Dept.)참여자_오혜주,노미(한국인권재단),옥인콜렉티브// 2010. 9. 8. (Wed) 8:00 PM
  <br/>
  <br/>
  Length: 28:20
  Views: 402 
  </p>
</div>
<!-- interview #1-2 -->


<!-- interview #1-1 -->
<div id="radio-program">
  <div class="jwbox">
    <a href="#">
      <h4 class="feed-item-title">
        인터뷰 Interview#1-1-사회권이란 무엇인가? 김현미(연세대 문화인류학과 교수)
      </h4>
      <img src="archives/" 
           border="0" width="192" height="108" vspace="3" hspace="3" align="left">
    </a>
    <div class="jwbox_hidden">
      <div  class="jwbox_content">
        <video
            id="my-player_ustream-0"
            class="video-js"
            controls
            preload="none"
            poster="archives/"
            width="720"
            data-setup='{}'>
          <source src="archives/interview-kimhyunmee%201.mp4" type="video/mp4"></source>
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
          </p>
        </video>
      </div>
    </div>
  </div>
  <p>
 사회권이란 무엇인가? What is social rights?-김현미 교수(연세대학교, 문화인류학과)-Pf. Hyunmee Kim(Yonsei Univ., Cultural Anthropology Dept.) 참여자_오혜주,노미(한국인권재단),옥인콜렉티브// 2010. 9. 6. (Mon) 8:00 PM
  <br/>
  <br/>
  Length: 23:50
  Views: 404
  </p>
</div>
<!-- interview #1-1 -->

<!-- open cut #2 -->
<div id="radio-program">
  <div class="jwbox">
    <a href="#">
      <h4 class="feed-item-title">
        OPEN CUT#2-윤영중(Hair Stylist)편
      </h4>
      <img src="archives/" 
           border="0" width="192" height="108" vspace="3" hspace="3" align="left">
    </a>
    <div class="jwbox_hidden">
      <div  class="jwbox_content">
        <video
            id="my-player_ustream-0"
            class="video-js"
            controls
            preload="none"
            poster="archives/"
            width="720"
            data-setup='{}'>
          <source src="archives/open%20cut-yoon.mp4" type="video/mp4"></source>
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
          </p>
        </video>
      </div>
    </div>
  </div>
  <p>
□ 오픈 컷_ 돈 없이 가치가 교환될 때 어떤 일이 벌어질까? Open Cut_ What happens when value exchanges without money?- 9월 1일 오후 2시부터 7시까지 빈도해, 윤영중(헤어스타일리스트)은 테이크아웃드로잉에 일시적인 미용실(temporary hair salon)을 개업하고, 각각 제시한 교환 목록에 해당되는 물품 혹은 조건을 제공하는 사람과 커트 서비스를 교환하는 퍼포먼스에 참여했다._ 이것은 실시간 방송 뒤의 러프 컷. 완성본이 업데이트될 예정입니다.*BGM_Mulatu Astatke-'Yegelle./// 2010. 9. 6.(Mon) 3:00 PM
  <br/>
  <br/>
Length: 10:13
Views: 136
  </p>
</div>
<!-- open cut #2 -->

<!-- open cut #1 -->
<div id="radio-program">
  <div class="jwbox">
    <a href="#">
      <h4 class="feed-item-title">
        OPEN CUT#1-빈도해(Hair Stylist)편
      </h4>
      <img src="archives/" 
           border="0" width="192" height="108" vspace="3" hspace="3" align="left">
    </a>
    <div class="jwbox_hidden">
      <div  class="jwbox_content">
        <video
            id="my-player_ustream-0"
            class="video-js"
            controls
            preload="none"
            poster="archives/"
            width="720"
            data-setup='{}'>
          <source src="archives/open%20cut-bin.mp4" type="video/mp4"></source>
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
          </p>
        </video>
      </div>
    </div>
  </div>
  <p>
□ 오픈 컷_ 돈 없이 가치가 교환될 때 어떤 일이 벌어질까? Open Cut_ What happens when value exchanges without money?- 9월 1일 오후 2시부터 7시까지 빈도해, 윤영중(헤어스타일리스트)은 테이크아웃드로잉에 일시적인 미용실(temporary hair salon)을 개업하고, 각각 제시한 교환 목록에 해당되는 물품 혹은 조건을 제공하는 사람과 커트 서비스를 교환하는 퍼포먼스에 참여했다._ 이것은 실시간 방송 뒤의 러프 컷. 완성본이 업데이트될 예정입니다.*BGM_Mulatu Astatke-'Yegelle./// 2010. 9. 6.(Mon) 3:00 PM
  <br/>
  <br/>
Length: 12:03
Views: 228
  </p>
</div>
<!-- open cut #1 -->

<!-- open performance -->
<div id="radio-program">
  <div class="jwbox">
    <a href="#">
      <h4 class="feed-item-title">
        오프닝 퍼포먼스_Live rough cut
      </h4>
      <img src="archives/" 
           border="0" width="192" height="108" vspace="3" hspace="3" align="left">
    </a>
    <div class="jwbox_hidden">
      <div  class="jwbox_content">
        <video
            id="my-player_ustream-0"
            class="video-js"
            controls
            preload="none"
            poster="archives/"
            width="720"
            data-setup='{}'>
          <source src="archives/open%20cut%20live.mp4" type="video/mp4"></source>
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
          </p>
        </video>
      </div>
    </div>
  </div>
  <p>
□ 오픈 컷_ 돈 없이 가치가 교환될 때 어떤 일이 벌어질까? Open Cut_ What happens when value exchanges without money?- 9월 1일 오후 2시부터 7시까지 빈도해, 윤영중(헤어스타일리스트)은 테이크아웃드로잉에 일시적인 미용실(temporary hair salon)을 개업하고, 각각 제시한 교환 목록에 해당되는 물품 혹은 조건을 제공하는 사람과 커트 서비스를 교환하는 퍼포먼스에 참여했다._ 이것은 실시간 방송 뒤의 러프 컷. 완성본이 업데이트될 예정입니다.*BGM_Mulatu Astatke-'Yegelle./// 2010. 9. 6.(Mon) 3:00 PM
  <br/>
  <br/>
Length: 02:05
Views: 189
  </p>
</div>
<!-- open performance -->

<!-- okin vacance -->
<div id="radio-program">
  <div class="jwbox">
    <a href="#">
      <h4 class="feed-item-title">
        옥인동 바캉스_ Okin-dong Vacance
      </h4>
      <img src="archives/04_Okin_Vacance.JPG" 
           border="0" width="192" height="108" vspace="3" hspace="3" align="left">
    </a>
    <div class="jwbox_hidden">
      <div  class="jwbox_content">
        <video
            id="my-player_ustream-0"
            class="video-js"
            controls
            preload="none"
            poster="archives/04_Okin_Vacance.JPG"
            width="720"
            data-setup='{}'>
          <source src="archives/okin_vacation.mp4" type="video/mp4"></source>
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
          </p>
        </video>
      </div>
    </div>
  </div>
  <p>
  옥인동 바캉스는 옥인 아파트 프로젝트의 첫 번째 퍼블릭 프로그램으로 강제 철거를 앞둔 옥인아파트 옥상에서 남겨진 소수의 주민과 예술가를 비롯한 다양한 참여자들이 모여 1박 2일을 머물렀던 시간에 대한 기록이다.///출연진_ 옥인 콜렉티브, 폴 어쿠스틱, 최빛나, 송수연, 부추라마, Nick Spratt, Cecil Belmont, Collective DB(정혜리, 김꽃봄, 홍희정), 미디어버스(구정연/디자인아카데미), 최성우, 박정임, 엄성진, 김나래, 최샛별, 구성연, 창파, 안국동 가옥(심재경, 심재욱), 빈도해, 옥인아파트 현재와 과거의 주민들 외 다수-*BGM_Paul Acoustic-'즐거운 영혼'//Okindong Vacance is a record of the first public program of Okin Apartment Project to stay one night and two days on the rooftop of a building with various participants including present Okin Collective and left residents who had a few months enforced demolition of Okin Apartment ahead.// 2010. 9. 1. (Wed) 2:00 PM
  <br/>
  <br/>
  Length: 04:13
  Views: 292
  </p>
</div>
<!-- okin vacance -->
