/*
This css modified based on 
*/
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
margin:0;
padding:0;
}

body {
background:none repeat scroll 0 0 #FFFFFF;
font-size:62.5%;

-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;

background-attachment:scroll;
background-image:url("okin_radio2.gif");
background-repeat:no-repeat;

margin-bottom:0;
margin-left:0;
margin-right:0;
margin-top:180px;
overflow-x:hidden;
padding-bottom:0;
padding-left:0;
padding-right:0;
padding-top:0;
}

.outline-2 {
background:none repeat scroll 0 0 #FFFFFF;
margin:4.6em 0;
padding:2.7em;
position:relative;
}

.outline-text-2 , .outline-text-3 {
}

h1 {
font-size:2em;
font-weight:bold;
margin: 1em;
}

h2 {
font-size:1.8em;
font-weight:bold;
}

h3, h4, h5 {
color:#687250;
}

.outline-2 h2 {
margin:0 0 1em;
}

.outline-2 h3, .outline-2 h4, .outline-2 h5 {
}

pre {
background:none repeat scroll 0 0 yellow;
margin:2em;
padding:0.1em 1.5em;
position:relative;
border: 0em;

font-family: monospace;
}

p {
margin:1em 0;

}

img {
/* background:none repeat scroll 0 0 #FFFFFF; */
/* border:1px solid #EEEEEE; */
/* padding:7px; */
/* z-index: 100; */
}

#postamble {
text-align: right;
}

#content {
/* font-family: "NanumGothic", "Apple Gothic", "UnGothic", "Malgun Gothic", sans-serif; */
font-family: "Arial", "Apple Gothic", "UnGothic", "Malgun Gothic", sans-serif;
font-size:1.3em;

margin:0 auto;
max-width:750px;
min-width:600px;

width: expression( document.body.clientWidth > 776 ? "750px" : "auto" ); /* sets max-width for IE */

}


ol li, ul li {
	line-height: 1.5em;
}


div#header {
margin:0 0 -1em;
padding:3.8em 0 0;
position:relative;
color: white;
}

div#postamble {
font-size: 1.3em;
color: grey;
/* padding:1em 0; */
}


blockquote {
background:none repeat scroll 0 0 #FFFFFF;

margin:2em;
padding:0.1em 1.5em;
position:relative;
}

a:link, a:visited, a:active  {
/* background:none repeat scroll 0 0 transparent; */
color: #ee3497;
text-decoration: none
}

img {
/* border:2px solid #FFFFFF; */
margin-right: 15px;
}

img, object,  embed {
}

ul {
list-style:none inside none;
padding:0 1em;
}
ol {
list-style:decimal outside none;
padding:0 2.5em;
}

ul li {
background:url("../images/bullet.gif") no-repeat scroll 0 7px transparent;
margin:1em 0;
padding:0 0 0 15px;
}

ol li {
margin:1em 0;
}

.rss2html-note {
display:none;
}

#prev {
}

.feed-item-title {
font-size:1.2em;
border-top:1px solid #FFFFFF;
margin-top:3em;
color: blue;
}

p#feed-item-desc  {
margin-top: 0em;
}

hr {
border-style:solid;
border-width:1px;
color:#000000;
border-bottom-style:hidden;
}


